<h1>Welcome: {{username}}</h1>


<h1>Your Websites!</h1>


<table class="table table-striped">
	<thead>
		<tr>
			<th>Website Name</th>
			<th>Your Password</th>
		</tr>
	</thead>
	<tbody>
		
	{{#each websites}}
	<tr>
		<td>{{this.website}}</td>
		<td>{{this.password}}</td>
		<td><input type="text" id="password"><button id="changePassword" data-postId='{{this.id}}'>Change your password</button></td>
	</tr>
	{{/each}}
	<br>
	<tr>
		<td><input type="text" name="website" placeholder="New Website"/></td>
		<td><input type="text" name="website" placeholder="New Password"/></td>
		<td><button type="submit" class="btn btn-default">Submit</button></td>
	</tr>
	</tbody>
</table>


