<h1>Welcome: {{username}}</h1>


<h1>Your Websites!</h1>

<form action="/logout" method="get">
	<button>
		<input type="submit" value="Log out"/>
	</button>
</form>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Website Name</th>
			<th>Your Password</th>
		</tr>
	</thead>
	<tbody>

		{{#each websites}}
		<tr>
			<td>{{this.website}}</td>
			<td>{{this.password}}</td>
			<td><input type="text" class="passwordInput"><button class="changePassword" data-postId='{{this.id}}'>Change your password</button></td>
		</tr>
		{{/each}}
		<br>
		<form action="/api/website" method="post">
			<tr>
				<td><input type="text" name="website" placeholder="New Website"/></td>
				<td><input type="text" name="password" placeholder="New Password"/></td>
				<td><input type="submit" value="Submit"/></td>
			</tr>
			<div name='id'></div>
		</form>
	</tbody>
</table>


